<h1 style='text-align:center'><b>MODEL TRAINING</b></h1>

**IMPORT LIBRARIES**

In [1]:
import pandas as pd
import numpy as np

**IMPORT DATASET**

In [2]:
df = pd.read_csv("D:\Downloads\instagram_reach.csv")

In [3]:
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [4]:
df.tail()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [5]:
df.sample(5)

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
91,4,14,swiatik,"Last week was pretty busy, so I had no chance ...",971,#design #instaphoto #inspiration#premierpro #o...,2 hours,46
5,5,6,be.masterly,Cyber attacks are more frequent every day and ...,1231,#edtech #learning#educationtechnology #tech #l...,3 hours,18
57,18,26,iamjunkbot,Reuse trash to create robots!Junkbot Robotic k...,3147,#junkbot #edukit #superbots #robotickits#ardui...,2 hours,10
10,10,11,databowl,Today we are featured in The Future CMO Magazi...,149,#artificialintelligence #futurism#machinelearn...,7 hours,31
61,22,30,oboteo.ai,Every business has data. Are you getting the m...,11,#AI #DUBAI #artificialintelligence #neuralnetw...,3 hours,10

In [6]:
df.shape

(100, 8)

In [7]:
df.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

**DROP UNWANTED COLUMN FROM DATASET**

In [8]:
df.drop(['Unnamed: 0', 'S.No'], axis = 1, inplace = True)

In [9]:
df.shape

(100, 6)

**Seperate Independent & Dependent Features of Dataset**

X = df.drop([''])